/**
 * 分离不同部分：将全局样式、通知样式、头部样式、主要内容样式和 Element UI 样式覆盖部分分别分组，增加代码的可读性。
 * 删除多余的注释：移除多余注释，以简洁为主。
 * 格式一致性：确保所有的 CSS 属性和选择器格式一致，提高代码的整洁度和一致性。
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles */
body {
    background-color: #e4e6eb;
}

/* Notice styles */
.front-notice {
    padding: 5px 20px;
    color: #666;
    font-size: 12px;
    background-color: #fff;
}

/* Header styles */
.front-header {
    display: flex;
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #eee;
    background: #0066bc;
}

.front-header-left {
    width: 300px;
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.front-header-left {
    width: 300px;
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.front-header-left img,
.front-header-dropdown img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.front-header-left .title {
    flex: 1;
    color: #fff;
    cursor: pointer;
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
}

.front-header-center {
    flex: 1;
}

.front-header-right {
    width: 200px;
    padding-right: 20px;
    text-align: right;
}

.front-header-dropdown {
    display: flex;
    align-items: center;
    justify-content: right;
}

.el-dropdown-menu {
    width: 100px !important;
    text-align: center !important;
}

/* Main content styles */
.main-content {
    width: 80%;
    margin: 5px auto;
}

/* Element UI styles override */
.el-menu.el-menu--horizontal {
    border: none !important;
    height: 59px;
}

.el-menu {
    background-color: #0066bc;
}

.el-menu-item.is-active {
    color: #fff !important;
    background-color: #1890ff !important;
    height: 59px !important;
}

.el-menu-item {
    color: #fff !important;
    border: none !important;
}

.el-menu-item:not(.is-active):hover {
    background-color: #59aeff !important;
}